@import './index.scss';

.B{
    width: 20rem;
    height: 20rem;
    background-color: blue;
    margin-top: 10rem;

    @include respond(port) {
        background-color: red;
      }
      @include respond(land) {
        background-color: green;
      }
      @include respond(phone) {
        background-color: yellow;
      }
}