
/*  Default define*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html,
  body {
    font-size: 62.5%;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  ::selection{
    background-color: var(--primary-color);
    color: white;
  }
  

  